# Backend API URL. En local: http://localhost:8000
# En Render se inyecta el URL público del web service
NEXT_PUBLIC_API_URL=http://localhost:8000

# Si activaste ADMIN_TOKEN en backend, ponlo aquí para poder lanzar jobs desde la UI
NEXT_PUBLIC_ADMIN_TOKEN=
